name: multidatasource-multitenancy
services:

  postgresqldb:
    image: postgres:18.2-alpine
    environment:
      - POSTGRES_USER=appuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=primary
    ports:
      - "5432:5432"
    volumes:
      - ./docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql

  pgadmin4:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    depends_on:
      - postgresqldb
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
