name: boot-strategy-plugin
services:
    tempo:
        image: grafana/tempo:2.9.1
        extra_hosts: ['host.docker.internal:host-gateway']
        container_name: tempo
        command: [ "-config.file=/etc/tempo.yaml" ]
        depends_on:
            - loki
        volumes:
            - ./platform/tempo/tempo-local.yaml:/etc/tempo.yaml:ro
        ports:
            - "3200:3200"     # Tempo
            - "4317:4317"     # OTLP gRPC
            - "4318:4318"     # OTLP HTTP
            - "9411:9411"     # Zipkin
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3200/ready"]
            interval: 5s
            timeout: 30s
            retries: 30
            start_period: 30s

    loki:
        image: grafana/loki:3.6.5
        extra_hosts: ['host.docker.internal:host-gateway']
        container_name: loki
        command: [ "-config.file=/etc/loki/local-config.yaml" ]
        ports:
            - "3100:3100" # loki needs to be exposed so it receives logs

    prometheus:
        image: prom/prometheus:v3.9.1
        extra_hosts: ['host.docker.internal:host-gateway']
        container_name: prometheus
        depends_on:
            - loki
        command:
            - --enable-feature=exemplar-storage
            - --config.file=/etc/prometheus/prometheus.yml
        volumes:
            - ./platform/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
        ports:
            - "9090:9090"
        healthcheck:
            interval: 5s
            retries: 10
            test: wget --no-verbose --tries=1 --spider http://localhost:9090/status || exit 1

    grafana:
        image: grafana/grafana:12.3.2
        extra_hosts: ['host.docker.internal:host-gateway']
        container_name: grafana
        depends_on:
            tempo:
                condition: service_healthy
            prometheus:
                condition: service_healthy
            loki:
                condition: service_started
        volumes:
            - ./platform/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
            - ./platform/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
            - ./platform/grafana/provisioning/grafana.ini:/etc/grafana/grafana.ini
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_SECURITY_ADMIN_USER=admin
            - GF_USERS_ALLOW_SIGN_UP=false
        ports:
            - "3000:3000"
        healthcheck:
            interval: 5s
            retries: 10
            test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1

