version: '3.8'
services:

  grafana:
    image: grafana/grafana:12.4.0
    extra_hosts: ['host.docker.internal:host-gateway']
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ../config/grafana/provisioning/:/etc/grafana/provisioning/
      - ../config/grafana/grafana.ini:/etc/grafana/grafana.ini
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:v3.10.0
    extra_hosts: ['host.docker.internal:host-gateway']
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../config/prometheus/config:/etc/prometheus
      - prometheus_data:/prometheus
    command: --config.file=/etc/prometheus/prometheus.yml --log.level=debug

  alertmanager:
    image: prom/alertmanager:v0.31.1
    ports:
      - "9093:9093"
    volumes:
      - ../config/alert-manager/tmp:/data
      - ../config/alert-manager/config:/config
    command: --config.file=/config/alertmanager.yml --log.level=debug

volumes:
  prometheus_data: {}
  grafana_data: {}
