version: '3.8'
services:
  postgres:
    image: postgres:18.1-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=memberdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes: 
      - postgres-db:/var/lib/postgresql/data

  pgadmin4:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    depends_on:
      - postgres
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin

  mysql:
    image: mysql:9.5
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=cardholderdb
      # So you don't have to use root, but you can if you like
      - MYSQL_USER=user
      # You can use whatever password you like
      - MYSQL_PASSWORD=password
      # Password for root access
      - MYSQL_ROOT_PASSWORD=password
    
    # Where our data will be persisted
    volumes:
      - mysql-db:/var/lib/mysql

volumes:
  mysql-db:
  postgres-db:
    driver: local