version: 2.1

jobs:
  build:
    docker:
      - image: 'cimg/openjdk:25.0'
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run: java --version
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=rajadilipkolli_my-spring-boot-experiments

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
