services:

  postgresqldb:
    image: postgres:17.2-alpine
    environment:
      - POSTGRES_USER=appuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"

  grafanalgtm:
    image: grafana/otel-lgtm:0.8.2
    extra_hosts: ['host.docker.internal:host-gateway']
    container_name: grafanalgtm
    environment:
      - OTEL_METRIC_EXPORT_INTERVAL=500
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
      - "9090:9090"


  pgadmin4:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    depends_on:
      - postgresqldb
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
