services:

  grafanalgtm:
    image: grafana/otel-lgtm:0.9.1
    extra_hosts: ['host.docker.internal:host-gateway']
    container_name: grafanalgtm
    environment:
      - OTEL_METRIC_EXPORT_INTERVAL=500
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
      - "9090:9090"
