name: boot-graphql-webflux
services:

  postgresqldb:
    image: postgres:18.1-alpine
    environment:
      - POSTGRES_USER=appuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"
