# All traces should be sent to latency analysis tool
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always
  metrics:
    distribution:
      percentiles-histogram:
        all: true
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        step: 10s
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  observations.key-values:
    application: ${spring.application.name}
  otlp:
    metrics:
      export:
        url: ${MANAGEMENT_OTLP_METRICS_ENDPOINT:http://localhost:4318/v1/metrics}
        step: 10s
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${MANAGEMENT_OTLP_TRACES_ENDPOINT:http://localhost:4318/v1/traces}
    logging:
      export:
        otlp:
          endpoint: ${MANAGEMENT_OTLP_LOGS_ENDPOINT:http://localhost:4318/v1/logs}
  observations:
    annotations:
      enabled: true
spring:
  application:
    name: strategy-plugin-service
  threads:
    virtual:
      enabled: true

loki:
  uri: http://localhost:3100/loki/api/v1/push

server:
  port: 8080
  compression:
    enabled: true
