apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Prometheus

# list of datasources to insert/update depending
# whats available in the database
datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://host.docker.internal:9090
    basicAuth: false
    isDefault: false
    version: 1
    editable: true